<head>
  <title>FQ Videos</title>

  <link rel='stylesheet' type='text/css' href='styles.css' />
  <link rel='stylesheet' type='text/css' href='DataTables/datatables.min.css' />
  <script type='text/javascript' src='DataTables/jQuery-3.3.1/jquery-3.3.1.min.js'></script>
  <script type='text/javascript' src='DataTables/datatables.min.js'></script>

  <script>
    $(document).ready(function() {
      $('#fq').DataTable({
        paging: true,
        orderClasses: true,
        order: [
          [1, 'asc']
        ],
        ajax: {
          url: 'results',
          dataSrc: 'data',
          dataType: 'json',
          contentType: 'application/json'
        },
        columns: [{
            className: 'dt-center',
            data: 'username'
          },
          {
            className: 'dt-center',
            data: 'date'
          },
          {
            className: 'dt-center',
            data: null,
            render: function(data, type, row) {
              return '<a href=' + data.title_link + '>' + data.title + '</a><br>' + data.video_html;
            }
          }
        ]
      });
    });
  </script>
</head>

<body>
  <h1>(Nearly) Every Friday Question Video Ever</h1>
  </br>
  <table id='fq' class='display'>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Video</th>
      </tr>
    </thead>
  </table>
</body>